.body {
    --color-principal: rgb(32, 31, 31) !important;
    --fuente: 'Roboto', sans-serif;
    font-family: var(--fuente);

    background-color: var(--color-principal);

}




.navbar {
    margin-bottom: 50px;
    background: linear-gradient(brown, transparent 97%);
    font-size: 20px;


}

.nav-item {
    padding-left: 10px;
}



.img-logo {
    width: 130px;
    height: 130px;
    animation: pulse 1s infinite alternate;
    /* Ciclo continuo */
}




@keyframes pulse {
    from {
        transform: scale(1);
        /* Tamaño normal */
    }

    to {
        transform: scale(1.2);
        /* Aumenta un 10% */
    }
}





@keyframes fadeBackground {
    0% {
        background-color: var(--color-principal);

    }

    20% {
        background-color: #312222;
    }

    40% {
        background-color: #351b1d;
    }

    60% {
        background-color: #2e1a1a;
    }

    80% {
        background-color: #312222;
    }

    80% {
        background-color: var(--color-principal);

    }
}

body {
    animation: fadeBackground 15s infinite ease-in-out;
}